@model IEnumerable<PassionProjectn01681774.Models.ExerciseDto>
@{
    ViewBag.Title = "List";
}

@* is a dto even required, when I am only showing the exercise name? *@
@* when is a dto needed? When there is a foreign key? *@

<h2>List Exercises</h2>
@foreach (var Exercise in Model)
{
    <div>
        <a href="Show/@Exercise.ExerciseId">@Exercise.ExerciseName</a> (@Exercise.GroupName)
    </div>
}
