@model PassionProjectn01681774.Models.ExerciseDto

@{
    ViewBag.Title = "Show";
}

<a href="/Exercise/List">Go back to list</a>
<h2>@Model.ExerciseName</h2>
<div>Muscle group: @Model.GroupName</div>
<div>Description: @Model.ExerciseDescription</div>

<a href="/Exercise/Edit/@Model.ExerciseId">Edit Exercise</a>

<a href="/Exercise/DeleteConfirm/@Model.ExerciseId">Delete Exercise</a>

